<footer>
    <div class="icon">
      <button><i class="icon1 fab fa-twitter fa-2x"></i></button>
      <button><i class="icon2 fab fa-facebook fa-2x"></i></button>
      <button><i class="icon3 fab fa-instagram fa-2x"></i></button>
      <button><i class="icon4 fab fa-linkedin fa-2x"></i></button>
    </div>
    <hr style="color: azure;width:20%;right:15%; float: right; margin-right: 330px; margin-top:0px;">
    

    <table cellspacing = "50" style="width: 600px;">
      <tr>
        <th>ALL LOCATIONS</th>
        <TH>FRANCHISING</TH>
        <th>PRIVACY POLICY</th>
      </tr>
      <tr>
        <th>DEALS</th>
        <th>ABOUT</th>
        <th>ACCESSIBILITY</th>
      </tr>
      <tr>
        <th>GIFT CARDS</th>
        <th>CAREERS</th>
        <th>TERMS AND CONDITIONS</th>
      </tr>
      <TR>
        <th><a href="#">CONTACT US</a> </th>
        <th><a href="#"> NEWS</a></th>
        <th><a href="#">SUPPLY CHAIN</a></th>
      </TR>
    </table>

    <table cellspacing = "10" style="margin-right: 0px; margin-left: 900px; position: relative;">
      <tr>
        <th>Download our App</th>
      </tr>
      <tr>
      <th><button style="width: 120px; border-radius: 8px;border-color: beige; background-color: black;color: blanchedalmond;"><i class="fab fa-google-play"></i> Get it on Google Play</button></th>
      <th><button style="width: 120px; height: 40px; border-radius: 8px; border-color: beige; background-color: black; color: blanchedalmond; padding: 5px;"><i class="fab fa-apple"></i> Download on the App Store</button></th>
    </tr>
    </table>
  </footer>
  
