.icon {
  margin-right: 360px;
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: right;
  padding-bottom: 10px;
  padding-top: 40px;
  word-spacing: 20px;
}
.icon:hover{
  cursor: grab;
}

footer {
    text-emphasis-color: #ddd;
    bottom: 10px;
    position: relative;
    background-color:rgb(14, 13, 13);
    color: #ddd;
  }