 <!--Heading Nav bar-->
 <div class="topnav">
    <div class="max-width">
      <div class="logo">
        <a href="#Burgerita"><i class="fas fa-hamburger fa-lg"></i>Burger<span>ita</span> </a>
      </div>
      <a class="active" href="#main">ORDER NOW</a>
      <a href="#NearbyStores"><i class="fas fa-store fa-sm"></i> <span> NEARBY STORES</span> </a>
      <a href="#LOGIN"><i class="fas fa-user-alt"></i>LOGIN</a>
      <a href="#topbody"><i class="fas fa-crown"></i>KING DEALS</a>
      <a href="#CART"><i class="fas fa-shopping-cart"></i>CART</a>
      <a href="#cart"><button><i class="search fas fa-search fa-lg"></i></button></a> 
      <div class="search-container">
        <input type="text" placeholder="Search..." [(ngModel)]="searchKeyword" (keyup)="search()">
      </div>
    
      <div *ngIf="results.length > 0" class="search-results">
        <ul>
          <li *ngFor="let result of results">
            <!-- Display the search results here -->
            {{ result.name }}
          </li>
        </ul>
      </div> 
    </div>
  </div>

