<section class="main" id="main">
    <div class="max-width">
        <h2 class="title">Order for Home-delivered Smiles</h2>
        <div class="main-content">
            <div class="column left">
                <img [src]="images[0]" alt="profile picture">
            </div>
            <div class="column right">
                <div class="text"> <span></span></div>
                <p> Burgerita allows you to experience delicious food from the comfort of your sofa at home or cubicle in office. All orders are delivered quickly and efficiently, allowing you the peace of mind to know that smiles-inducing food is never too far.</p>
                <a href="#">ORDER NOW</a>
            </div>
        </div>
     </div>
</section>
